<div class="container" style="padding-left: 7.5vw;margin-top: 100px;float: left;">
  <div class="row">
    <h2>About Me</h2>
  </div>
  <div class="row">
    <div class="shadow p-3 mb-5 bg-body" style="font-weight: 800;width: 500px;margin-top: 13px;">
      <div class="row" style="margin-top: 15px;padding-left: 25px;color: gray;font-weight:500">
        <h4 style="Color:darkslategray;font-size: 21px;font-weight: 500;">Uthmaan Jappie</h4>
      </div>
      <div class="row" style="margin-top: 10px;padding-left: 25px;margin-bottom: 25px;">
        <h6 style="color: lightgray;font-size: 13px">Email:</h6>
        <h6 style="color: lightslategray;font-size: 14px;">victorians786@gmail.com</h6>
      </div>

    </div>
  </div>
</div>
